
.helpful-card {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.15);
  @include transition(0.3s);
  &:hover {
    background-color: var(--pink);
    cursor: pointer;
    .helpful-card-icon {
      background-color: white!important;
      i {
        color: var(--pink);
      }
    }
    .helpful-card-caption {
      .caption-title {
        color: white!important;
      }
      .caption-para {
        color: var(--white);
      }
    }
  }

  .card-wrapper-two & {
    &:hover {
      background-color: var(--primary);
      .helpful-card-icon {
        background-color: white!important;
        i {
          color: var(--primary);
        }
      }
      .helpful-card-caption {
        .caption-title {
          color: white!important;
        }
        .caption-para {
          color: var(--white);
        }
      }
    }
  }
  .card-wrapper-three & {
    &:hover {
      background-color: var(--blue);
      .helpful-card-icon {
        background-color: white!important;
        i {
          color: var(--blue);
        }
      }
      .helpful-card-caption {
        .caption-title {
          color: white!important;
        }
        .caption-para {
          color: var(--white);
        }
      }
    }
  }
  .card-wrapper-four & {
    &:hover {
      background-color: var(--green);
      .helpful-card-icon {
        background-color: white!important;
        i {
          color: var(--green);
        }
      }
      .helpful-card-caption {
        .caption-title {
          color: white!important;
        }
        .caption-para {
          color: var(--white);
        }
      }
    }
  }
  @include transition(0.3s);
  .helpful-card-icon {
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    .card-wrapper-two & {
      background-color: var(--primary);
    }
    .card-wrapper-three & {
      background-color: var(--blue);
    }
    .card-wrapper-four & {
      background-color: var(--green);
    }
    @media #{$xs} {
      min-width: 50px;
      max-width: 50px;
      height: 50px;
    }
    i {
      font-size: 34px;
      color: white;
      @include transition(0.3s);
      @media #{$xs} {
        font-size: 24px;
      }
    }
  }

  .helpful-card-caption {
    .caption-title {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      color: var(--pink);
      margin-bottom: 10px;
      line-height: 30px;
      .card-wrapper-two & {
        color: var(--primary);
      }
      .card-wrapper-three & {
        color: var(--blue);
      }
      .card-wrapper-four & {
        color: var(--green);
      }
      @media #{$xs} {
        font-size: 16px;
      }
    }
    .caption-para {
      color: var(--tertiary-title);
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      @media #{$xs} {
        font-size: 14px;
      }
    }
  }
}
